:root{
    --p-color:#fff;
    --secondary-color:#404040;
   
  }
  
  .dark-verson{
    --p-color:#d4d3d3;
    --secondary-color:#fff;
    --blck-color:#000000;
  }

body {
    background-color: var(--p-color);
    /* background-color:  #eee; */
  }
  .title1 {
   
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
  .card-block1 {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding: 1em;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
       
  }
  .card-body{
    
    border-radius: 33px;
  }
  .card{
    background-color: var(--blck-color);
    color: var(--secondary-color);
    border-radius: 33px;
  }
  .card1 {
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: none;
      border-radius: .28571429rem;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
      margin-top:20px;
  }
  
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: var(--secondary-color);
  }
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color:var(--secondary-color);
  }
  .carousel-indicators .active {
      background-color: var(--p-color);
      max-width: 12px;
      margin: 0 3px;
      height: 12px;
  }
  .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
   
  
  .btn {
    margin-top: auto;
  }